<button id="back-button"
  class="inline-block hover:bg-white text-indigo-600 py-3 px-8 rounded-lg font-semibold hover:bg-gray-100 transition-all duration-300 w-fit">
  Go Back
</button>

<script>
  const backButton = document.querySelector("#back-button");

  backButton.addEventListener("click", () => {
    window.history.back();
  });
</script>