<nav class="bg-white shadow-lg sticky top-0 z-50">
  <div class="max-w-6xl mx-auto pl-4">
    <div class="flex justify-between items-center py-4">
      <a href="/" class="text-2xl font-bold text-gray-800">My Blog App</a>

      <div>
        <% if (user?.name) { %>
        <!-- Display Profile Picture -->
        <div class="flex items-center gap-x-2">
          <div class="flex items-center gap-x-2">
            <p class="text-xl font-semibold hidden sm:block">
              <%= user?.name %>
            </p>
            <a href="/profile">
              <img
                src="<%= user?.profilePicture %>"
                alt="Profile Picture"
                class="w-10 h-10 rounded-full object-cover cursor-pointer"
              />
            </a>
          </div>

          <button
            id="logout"
            class="inline-block bg-white text-indigo-600 py-3 px-8 rounded-lg font-semibold hover:bg-gray-100 transition-all"
          >
            Logout
          </button>
        </div>

        <% } else { %>
        <!-- Display Login/Register Buttons -->
        <a
          href="/auth/login"
          class="inline-block bg-white text-indigo-600 py-3 px-5 rounded-lg font-semibold hover:bg-gray-100 transition-all"
          >Login</a
        >
        <a
          href="/auth/register"
          class="inline-block bg-white text-indigo-600 py-3 px-5 rounded-lg font-semibold hover:bg-gray-100 transition-all"
          >Register</a
        >
        <% } %>
      </div>
    </div>
  </div>
</nav>

<script>
  document.getElementById("logout").addEventListener("click", function () {
    document.cookie = "token" + "=;expires=Thu, 01 Jan 1970 00:00:01 GMT;";
    window.location.href = "/auth/login";
  });
</script>
