<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Blog App</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100">
    <header
      class="bg-blue-600 text-white p-4 flex justify-between items-center"
    >
      <h1 class="text-2xl font-bold">My Blog App</h1>
      <button id="logout">Logout</button>
    </header>
    <main class="p-4">
      <div class="max-w-2xl mx-auto bg-white p-6 rounded-lg shadow-md">
        <h2 class="text-xl font-semibold mb-4">Welcome to My Blog App!</h2>
        <p class="text-gray-700">
          This is a simple blog app built with EJS and Tailwind CSS.
        </p>
        <a
          href="/auth/login"
          class="mt-4 inline-block bg-blue-600 text-white px-4 py-2 rounded-md hover:bg-blue-700"
        >
          Login
        </a>
      </div>
    </main>
    <!-- <script src="/js/index.js"></script> -->

    <script>
      document.getElementById("logout").addEventListener("click", function () {
        document.cookie = "token" + "=;expires=Thu, 01 Jan 1970 00:00:01 GMT;";
        window.location.href = "/auth/login";
      });
    </script>
  </body>
</html>
